# .gitignore for Grails 1.2 and 1.3

# web application files
/mispedidos/web-app/WEB-INF/classes

# default HSQL database files for production mode
/mispedidos/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/mispedidos/stacktrace.log
/mispedidos/test/reports
/mispedidos/logs

# project release file
/mispedidos/*.war

# plugin release files
/mispedidos/*.zip
/mispedidos/plugin.xml

# older plugin install locations
/mispedidos/plugins
/mispedidos/web-app/plugins

# "temporary" build files
/mispedidos/target
/app
